<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <title>Document</title>
        <link rel="stylesheet" href="css/style.css"/>
     </head>
    <body>
     <!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-white overflow-hidden">
    <div class="max-w-7xl mx-auto">
      <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
        <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
          <polygon points="50,0 100,0 50,100 0,100" />
        </svg>
  
        <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
         {{>header}}
        </div>
  
       
  
        <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
              <span class="block xl:inline">Please enter City name</span> </h1>
              <input type="text" id="cityname" name="cityname"/>
              <input type="submit" id="citysubmit" value="Search">
            
            </div>
            </div>
            </div>

            <div> <span id="city_name"></span> is temp <span id="temp"></span></div>

     {{>footer}}
     <script src="js/main.js"></script>
     
    </body>
</html>